@media screen and (max-width: 576px) {
  .heroSection {
    max-width: 100%;
  }
  .heroImage {
    max-width: 100%;
  }
  .heroContent {
    top: 0;
    left: 0;
  }
  .title {
    display: none;
  }
}
.title {
  position: absolute;
  top: 35%;
  left: 30%;
  color: black !important;
}
