@media screen and (max-width: 576px) {
  .heroSection {
    max-width: 100%;
  }
  .heroImage {
    max-width: 100%;
  }
  .heroContent {
    top: 0;
    left: 0;
  }
  .title {
    font-size: 25px;
  }
  .subtitle {
    font-size: 16px;
  }
  .doc1,
  .doc2,
  .doc3 {
    display: none;
  }
  .titleInfo {
    margin: 30px 50px;
  }
}
